*{
    margin:0;
    box-sizing: border-box;
}

.details{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.details .img{
    width:40%;

}
.details .img img{
    width: 100%;
}

.card-heading h4{
    padding-top:20px ;
}
.body{
  
    padding: 31px;
    margin-top: -26px;
 
    padding-left: 65px;
}
.body h4{
    font-size: 17px;
    font-family: monospace;
}
.detail-data{
    position: relative;
    /* height: 45vh; */
    /* border-radius: 30px; */
    box-shadow: inset 20px 20px 20px rgba(74, 73, 73, 0.5), 25px 35px 20px rgba(0,0,0,0.5), 25px 30px 30px rgba(0,0,0,0.5), inset -20px -20px 25px white;
    background: white;
    transition: 0.5s ease-in-out;
    /* border-radius: 73% 27% 59% 41% /57% 59% 41% 43%; */
}
.detail-data:hover{
    /* border-radius: 30%; */
    background-color: #ecb6e8;
    color: black;
}
/* .detail-data::before{
    content: '';
    position: absolute;
    width:31px ;
    height: 31px;
    background-color: rgb(227, 220, 220);
    border-radius: 50%;
    top:50px;
    left:85px;
    z-index: 1;

} */
.card-heading{
 
    text-align: center;
}
.card-heading h4{
    font-family: monospace;
    font-size: 36px;
    margin-top: 27px;
}
.filed{
    display: flex;
    
    margin-top:20px;
   
}
.filed h1{
    text-align: center;
}
.aboutbody{
    background:url('../image/AboutBackground.png');
    background-size: cover;
}